
.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 48px;
  //padding: 0 8px 0 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 110;
  //pointer-events: none;
}

.flexItem {
  width: 100%;
  height: 30px;
  display: flex;
  pointer-events: auto;
}
.flexItem:focus{
  outline: #0055cc
}

.flexBtn{
  width: fit-content;
  cursor: pointer;
  position: absolute;
  top: 0;
  background: none;
  border: none;
  zoom: 2.5;
  padding-top: 7px;
}

.flexItemActive {
  width: 90%;
  float: right;
  height: 30px;
  display: flex;
  pointer-events: auto;
}
.flexItemActive:focus{
  outline-color:  #0055cc;
}
.assistRouteStart{
  width: 70%;
  right: 15%;
  float: right;
  height: 30px;
  display: flex;
  position: relative;
  pointer-events: auto;
  border: solid 1px lightgray;
}
.assistRouteEnd{
  width: 70%;
  right: 15%;
  float: right;
  height: 30px;
  display: flex;
  position: relative;
  pointer-events: auto;
  border: solid 1px lightgray;
}
.assistRouteListDiv {
  flex-flow: column;
  argin: 45px 0 5px 0;
  width: 70%;
  right: 15%;
  float: right;
  height: 35px;
  display: flex;
  position: relative;
  pointer-events: auto;
  white-space: nowrap;
  overflow:hidden;

  .assistRouteList{
    height: 35px;
    list-style:none;
    width:100%;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
  }
  .assistRouteList::-webkit-scrollbar{
    display:none;
  }

  .assistRouteStore{
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 1px 3px;
    margin: 2px 10px 0 3px;
    box-shadow: 0 1px 3px 2px rgba(136, 136, 136, 0.3);

  }
}

.assistActive {
  height: 120px;
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 16px 5px rgba(136, 136, 136, 0.3);

  .backBtn{
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 2.5px;
    background: none;
    border: none;
    text-align: right;
    //width: 100%;
    //height: 100%;
    zoom: 3;
    padding-top: 7px;
    //padding-right: 10px;
  }

  input {
    border: none;
    padding: 0 15px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 16px 0 rgba(136, 136, 136, 0.3);
  }

  .exitBtn{
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 0px;
    background: none;
    border: none;
    text-align: right;
    //width: 100%;
    //height: 100%;
    zoom: 4;
    padding-top: 7px;
    //padding-right: 10px;
  }

  .startItem {
    margin: 45px 0 5px 0;
    width: 70%;
    right: 15%;
    float: right;
    height: 30px;
    display: flex;
    position: relative;
    pointer-events: auto;
    border: solid 1px lightgray;
  }


  .endItem {
    //margin-top: 50px;
    width: 70%;
    right: 15%;
    float: right;
    height: 30px;
    display: flex;
    position: relative;
    pointer-events: auto;
    border: solid 1px lightgray;
  }
}

.startEndBox {
  height: 120px;
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 16px 5px rgba(136, 136, 136, 0.3);

  &.stopOverActive{
    top: 30px;
    height: 180px !important;
    position: relative;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 16px 5px rgba(136, 136, 136, 0.3);
  }



  input {
    border: none;
    padding: 0 15px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 16px 0 rgba(136, 136, 136, 0.3);
  }

  .startItem {
    margin: 45px 0 5px 0;
    width: 70%;
    right: 15%;
    float: right;
    height: 30px;
    display: flex;
    position: relative;
    pointer-events: auto;
    border: solid 1px lightgray;
  }

  .endItem {
    //margin-top: 50px;
    width: 70%;
    right: 15%;
    float: right;
    height: 30px;
    display: flex;
    position: relative;
    pointer-events: auto;
    border: solid 1px lightgray;
  }

  .endItem:focus{
    outline-color: #0055cc;
  }
  .startItem:focus{
    outline-color: #0055cc;
  }

  .switchBtn{
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 2.5px;
    background: none;
    border: none;
    text-align: right;
    //width: 100%;
    //height: 100%;
    zoom: 3;
    padding-top: 7px;
    //padding-right: 10px;
  }

  .assistRouteBtn{
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 8px;
    background: none;
    border: none;
    text-align: right;
    //width: 100%;
    //height: 100%;
    zoom: 2;
    //padding-right: 10px;
  }

  .exitBtn{
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 8px;
    background: none;
    border: none;
    text-align: right;
    //width: 100%;
    //height: 100%;
    zoom: 2;
    //padding-right: 10px;
  }
}

.confirmBtn{
  margin-top: 7px;
  width: 50%;
  height: 30px;
  background-color: white;
  border: solid 1px lightgray;
}

.searchBox {
  position: relative;
  width: 90%;
  left: 5%;
  padding-top: 10px;
  //padding: 0 8px 0 12px;

  input {
    border: none;
    padding: 0 15px;
    height: 40px;
    border-radius: 24px;
    box-shadow: 0 4px 16px 0 rgba(84, 84, 86, 0.3);
  }
  button {
  }

  .searchBtn{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0px;
    background: none;
    border: none;
    text-align: right;
    //width: 100%;
    //height: 100%;
    zoom: 2.5;
    padding-top: 7px;
    //padding-right: 10px;
  }
}

.box {
  padding: 6px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 -2px 8px 0 rgba(136, 136, 136, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  &:active {
    background-color: #40a6fd;
    color: white;
  }
  transition: background-color 200ms ease;
}
.slider{
  align-items: center;
  justify-content: flex-start;

  &idle{
    overflow-x: scroll;
    display: flex;
  }
  &active{
    overflow-y: scroll;
    height: 80vh;
  }
}

.detailHeaderList{
  padding-bottom: 30px;
}


.detailTitle{
  font-width: bold;
  padding-bottom: 5px;
}

.detailUrl{
  padding-top: 5.5px;
  font-size: small;
  opacity: 0.7;
  padding-bottom: 5px;
}
.detailContent{
  padding-top: 5.5px;
  font-size: small;
  opacity: 0.7;
  padding-bottom: 5px;
  white-space: nowrap; /* 글자가 넘칠 경우 자동 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 부분을 숨김 */
  text-overflow: ellipsis; /* 삼점(...)으로 생략 처리 */

}

.detailTitleSection{
  width: 100%;
  padding-bottom: 10px;
}
.detailBtnSection{
 width: 100%;
 padding-bottom: 10px;
}

.detailContentSection{
  height: 50px;
  display: flex;
  padding-bottom: 20px;
}
.detailImageSection{
  width: 100%;
  display: inline-block;
  text-align:-webkit-center;
}

.detailContentScrollSection{
  height: 470px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.detailInnerThumb{
  width:30%;
  height: auto;
  aspect-ratio : 1 / 1;
  border-radius: 5px;
  margin: 5px;
}


.detailIcon{
  align-self: center;
  width: 20px;
  min-width: 20px;
  height: auto;
  margin-right: 10px;
}

.detailHeaderTitle{
  width: 100%;
  float: left;
  font-width: bold;
  padding-bottom: 5px;
}

.detailHeaderContent{
  width: 100%;
  float: left;
  font-size: small;
  opacity: 0.7;
  padding-bottom: 5px;
}

.detailIconBtn{
  width: 20px;
  height: 20px;
  margin: 5px 10px 10px 0;
  opacity: 0.9;
}

.detailBtn{
  margin: 5px 0px 10px 5px;
  width: 45px;
  height: 20px;
  border-radius: 15px;
  border: solid 1px #4a4a4a;
  background-color: white;
  opacity: 0.8;
}

.detailHeaderThumb{
  width: 100%;
  height: 200px;
  border-radius: 5px;
}


.detailHeaderSection{
  flex: auto;
  text-align: center;
  display: inline-block;
  padding: 10px 20px 0 0;
  .image{
    border-radius: 25px;
  }
}

.alertMsg{
  opacity: 1;
}