.searchSection {
  top: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 105;
  background-color: white;
  padding: 0px 8px 0 12px;
  //box-shadow: inset 0px 0px 10px 0px lightgray;
}
.assistSection {
   top:0px;
   position: relative;
   width: 100%;
   height: 280px;
   overflow: hidden;
   z-index: 105;
   background-color: white;
   padding: 0px 8px 0 12px;
   //box-shadow: inset 0px 0px 10px 0px lightgray;
 }
.assistHeader{
  top: 5px;
  left:-10px;
  position: relative;
  display: flex;
  flex-flow: column;
  height: 50px;

  .assistToggleBtn{
    background-color: rosybrown;
    width: fit-content;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 1px 5px;
  }
  .assistBtnList{
    width:380px;
    padding-top: 5px;
    list-style: none;
    display: none;
    white-space: nowrap;
    overflow:auto;
  }
  .assistBtnListOpen{
    list-style:none;
    width:380px;
    margin-bottom: -10px;
    padding-top: 5px;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
  }
  .assistBtnListOpen::-webkit-scrollbar{
    display:none;
  }
  .assistBtn{
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rosybrown;
    padding: 1px 3px;

  }
  .assistBtnActive{
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: rosybrown;
    border-radius: 10px;
    border: 2px solid white;
    padding: 1px 3px;
    text:white;

    span{
      color: white;
    }
  }
  .arrow{
    width: calc(var(--btn-height) * 0.4);
    height: calc(var(--btn-height) * 0.4);
    border-radius: 100%;
    position: relative;
    transition: 0.3s ease-in-out;
    align-self: center;
    transform: rotate(180deg);
  }
}

.searchHeader{
  left: 5%;
  position: relative;
  width: 90%;
}

.searchList{
  display: flex;
  padding-bottom: 20px;
}
.textSection{
  float: left;
  display: inline-grid;
  padding-bottom: 20px;
}
.title{
  font-size: 20px;
  float: left;
}
.loc{
  font-size: 12px;
  float: left;
  padding-top: 5px;
  margin-bottom: -10px;
}

.allDeleteBtn{
  opacity: 0.7;
  position: absolute;
  right: 0;
  font-size: 12px;
  bottom: 0;
}
.deleteBtn{
  opacity: 0.7;
  position: absolute;
  right: 10px;
}

.searchResultSection {
  position: relative;
  width: 110%;
  left: -5%;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 105;
  top: 0;
  background-color: white;
  padding: 0px 8px 0 12px;
  //box-shadow: inset 0px 0px 10px 0px lightgray;
}


.assistResultSection {
  border-top: 1px solid rosybrown ;
  position: relative;
  width: 110%;
  left: -5%;
  height: 85%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 105;
  top: 0;
  background-color: white;
  padding: 0px 8px 0 12px;
  //box-shadow: inset 0px 0px 10px 0px lightgray;
}

.searchListItem {
  float: right;
  width: 100px;
  height: 50px;
  //box-shadow: inset 0px 0px 10px 0px lightgray;
}
.searchListItemSection{
  padding: 10px 0 10px 0;
}


.detailBtnSection{
  width: 100%;
}

.detailContentSection{
  height: 50px;
  display: flex;
  padding-bottom: 20px;
}
.detailImageSection{
  width: 100%;
  display: inline-block;
  text-align:-webkit-center;
}

.detailContentScrollSection{
  height: 470px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.detailInnerThumb{
  width:30%;
  height: auto;
  aspect-ratio : 1 / 1;
  border-radius: 5px;
  margin: 5px;
}


.detailIcon{
  align-self: center;
  width: 20px;
  min-width: 20px;
  height: auto;
  margin-right: 10px;
}

.detailIconBtn{
  width: 20px;
  height: 20px;
  margin: 5px 10px 0px 0;
  opacity: 0.9;
}

.detailBtn{
  margin: 5px 2px 0px 5px;
  width: 45px;
  height: 20px;
  border-radius: 15px;
  border: solid 1px #4a4a4a;
  background-color: white;
  opacity: 0.8;
}
